<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">NGINX</a>
</nav>
<div class="container">
<p id="notice"><%= notice %></p>
<h1 class="text-center">Blogs</h1><br>
<div class="d-flex justify-content-center">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="2" class="text-center">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.name %></td>
        <td><%= blog.content %></td>
        <td>
           <%= link_to 'Show', blog ,class:"btn btn-light col-4"%>
           <%= link_to 'Edit', edit_blog_path(blog),class:"btn btn-light  col-3" %>
           <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-light col-4"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
  <div class="text-center">
    <%= link_to 'New Blog', new_blog_path , class:"btn btn-info  btn-block col-12"%>
  </div>
</div>
